@(message: String)

<div ng-controller="HomeController">
	
	<div class="stats-main">
	
		<currently-reading></currently-reading>
			
		<latest-read></latest-read>
		
		<latest-added></latest-added>
				
		<favourite-authors></favourite-authors>		

		<recently-read></recently-read>						
				
		<div class="box h_tallest">
			<h2>Unread</h2>
			<ul>
	            
	            <li><a href="/#book/274">A wanted man</a></li>
	        
	            <li><a href="/#book/262">Ajan lyhyt historia</a></li>
	        
	            <li><a href="/#book/321">Alfabethuset</a></li>
	        
	            <li><a href="/#book/206">American assassin</a></li>
	        
	            <li><a href="/#book/316">Analfabeten som kunde räkna</a></li>
	        
	            <li><a href="/#book/294">Barins triangel</a></li>
	        
	            <li><a href="/#book/207">Bible of the dead</a></li>
	        
	            <li><a href="/#book/85">Carambole</a></li>
	        
	            <li><a href="/#book/263">Cold vengeance</a></li>
	        
	            <li><a href="/#book/320">De oönskade</a></li>
	        
	        </ul>
		</div>
	</div>
	
	<stats-sidebar></stats-sidebar>
	
	<div class="clear"></div>
	
</div>