@(message: String)

<div ng-controller="HomeController">
	
	<div class="stats-main">
	
			<currently-reading></currently-reading>
			
			<latest-read></latest-read>
			
			<latest-added></latest-added>
						
			<div class="box h_tallest">
				<h2>Favourite author</h2>
				<ul>
		           
		            <li><a href="/#books/2">Clive Cussler (40)</a></li>
		        
		            <li><a href="/#books/15">Reijo Mäki (22)</a></li>
		        
		            <li><a href="/#books/62">Ilkka Remes (14)</a></li>
		        
		            <li><a href="/#books/6">Arne Dahl (13)</a></li>
		        
		            <li><a href="/#books/12">Henning Mankell (10)</a></li>
		        
		            <li><a href="/#books/4">Matthew Reilly (9)</a></li>
		        
		            <li><a href="/#books/70">Patricia Cornwell (8)</a></li>
		        
		            <li><a href="/#books/45">Douglas Preston (8)</a></li>
		        
		            <li><a href="/#books/14">Åke Edwardson (8)</a></li>
		        
		            <li><a href="/#books/113">Dan Buthler (7)</a></li>
		       	</ul>
			</div>
		
		<div class="box h_tallest">
			<h2>Recently read</h2>
			<ul>
	            
	            <li><a href="/#book/289">Svinen</a></li>
	        
	            <li><a href="/#book/128">Sacred stone</a></li>
	        
	            <li><a href="/#book/317">Uppgörelsen</a></li>
	        
	            <li><a href="/#book/319">Återvändaren</a></li>
	        
	            <li><a href="/#book/318">Ares tecken</a></li>
	        
	            <li><a href="/#book/249">Lärjungen</a></li>
	        
	            <li><a href="/#book/233">Änglavakter</a></li>
	        
	            <li><a href="/#book/304">Grannen</a></li>
	        
	            <li><a href="/#book/308">Blindbock</a></li>
	        
	            <li><a href="/#book/310">Kaffe med rån</a></li>
	       
	        </ul>
		</div>
		
		<div class="box h_tallest">
			<h2>Unread</h2>
			<ul>
	            
	            <li><a href="/#book/274">A wanted man</a></li>
	        
	            <li><a href="/#book/262">Ajan lyhyt historia</a></li>
	        
	            <li><a href="/#book/321">Alfabethuset</a></li>
	        
	            <li><a href="/#book/206">American assassin</a></li>
	        
	            <li><a href="/#book/316">Analfabeten som kunde räkna</a></li>
	        
	            <li><a href="/#book/294">Barins triangel</a></li>
	        
	            <li><a href="/#book/207">Bible of the dead</a></li>
	        
	            <li><a href="/#book/85">Carambole</a></li>
	        
	            <li><a href="/#book/263">Cold vengeance</a></li>
	        
	            <li><a href="/#book/320">De oönskade</a></li>
	        
	        </ul>
		</div>
	</div>
	
	<stats-sidebar></stats-sidebar>
	
	<div class="clear"></div>
	
</div>