@(title: String)(content: Html)

<!DOCTYPE html>

<html ng-app="app" lang="en">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link media="screen" rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("core/javascripts/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("core/images/favicon.png")">
    </head>
    <body>
    @title
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			@views.html.menu()
		</div>
		
		<header>
		</header>
		
		<div id="main-container" class="container">
			<div id="page" ui-view>
      			@content
      		</div>
      		
      		<footer ng-controller="Ctrl"><p>&copy; Janimatti Ellonen</p>
      			<p translate="BOOK_COUNT"></p>

      		</footer>
    	</div>
        
        <script src="@routes.Assets.at("core/javascripts/jquery/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("core/javascripts/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.js" type="text/javascript"></script>
        <script src="@routes.Assets.at("core/javascripts/angularjs/angular-translate.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("core/javascripts/munkirjat/app.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("core/javascripts/munkirjat/controllers/AboutController.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("core/javascripts/munkirjat/controllers/HomeController.js")"></script>
    </body>
</html>
